.DS_Store
__pycache__/
*.py[c|o]
.idea
*local_settings.py
_build/
.env/
.vscode/
env/
venv/
*migrations/
.python-version
data/
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
